# PySpark Playground

A hands-on reference notebook covering the most common PySpark patterns.

| Section | Topics |
|---------|--------|
| 0 | Setup & SparkSession |
| 1 | DataFrame Basics |
| 2 | Selecting & Filtering |
| 3 | Aggregations & GroupBy |
| 4 | Joins |
| 5 | Window Functions |
| 6 | Spark SQL |
| 7 | User-Defined Functions (UDFs) |
| 8 | Null Handling & Data Quality |
| 9 | String & Date Operations |
| 10 | Reading & Writing Data |

## 0. Setup & SparkSession

In [1]:
%pip install pyspark==3.5.8 python-dotenv --quiet

Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
from pyspark.sql import SparkSession
from dotenv import load_dotenv

load_dotenv()

os.environ["JAVA_HOME"]   = r"C:\devhome\tools\Java\jdk-17.0.2"
os.environ["SPARK_HOME"]  = r"C:\devhome\tools\spark-3.5.8-bin-hadoop3"
os.environ["HADOOP_HOME"] = r"C:\devhome\tools\hadoop-3.3.6"

spark = (
    SparkSession.builder
    .master("local[*]")
    .appName("PySpark Playground")
    .config("spark.pyspark.python", os.environ.get("PYSPARK_PYTHON", ""))
    .config("spark.pyspark.driver.python", os.environ.get("PYSPARK_DRIVER_PYTHON", ""))
    .config("spark.sql.shuffle.partitions", "4")  # keeps local runs fast
    .getOrCreate()
)

spark.sparkContext.setLogLevel("WARN")
print(f"Spark version: {spark.version}")
print(f"Spark UI: http://localhost:4040")

Spark version: 3.5.8
Spark UI: http://localhost:4040

---
## 1. DataFrame Basics

Creating DataFrames from Python collections and inspecting schema/data.

In [3]:
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType
from datetime import date

# --- Option A: infer schema from list of tuples ---
employees_data = [
    (1, "Alice",   "Engineering", 95000.0, date(2019, 3, 15)),
    (2, "Bob",     "Marketing",   72000.0, date(2020, 7, 1)),
    (3, "Carol",   "Engineering", 110000.0, date(2017, 11, 20)),
    (4, "Dave",    "Marketing",   68000.0, date(2021, 1, 10)),
    (5, "Eve",     "Engineering", 105000.0, date(2018, 5, 5)),
    (6, "Frank",   "HR",          60000.0, date(2022, 2, 28)),
    (7, "Grace",   "HR",          63000.0, date(2020, 9, 14)),
    (8, "Hank",    "Engineering", 98000.0, date(2019, 6, 1)),
]

schema = StructType([
    StructField("id",         IntegerType(), False),
    StructField("name",       StringType(),  False),
    StructField("department", StringType(),  True),
    StructField("salary",     DoubleType(),  True),
    StructField("hire_date",  DateType(),    True),
])

employees = spark.createDataFrame(employees_data, schema)

# --- Option B: from list of Row objects ---
departments = spark.createDataFrame([
    Row(dept_id="Engineering", budget=500000, location="San Francisco"),
    Row(dept_id="Marketing",   budget=200000, location="New York"),
    Row(dept_id="HR",          budget=150000, location="Chicago"),
])

print("=== employees schema ===")
employees.printSchema()

print("=== employees sample ===")
employees.show()

print(f"Row count: {employees.count()}")
print(f"Columns:   {employees.columns}")

=== employees schema ===
root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- department: string (nullable = true)
 |-- salary: double (nullable = true)
 |-- hire_date: date (nullable = true)

=== employees sample ===
+---+-----+-----------+--------+----------+
| id| name| department|  salary| hire_date|
+---+-----+-----------+--------+----------+
|  1|Alice|Engineering| 95000.0|2019-03-15|
|  2|  Bob|  Marketing| 72000.0|2020-07-01|
|  3|Carol|Engineering|110000.0|2017-11-20|
|  4| Dave|  Marketing| 68000.0|2021-01-10|
|  5|  Eve|Engineering|105000.0|2018-05-05|
|  6|Frank|         HR| 60000.0|2022-02-28|
|  7|Grace|         HR| 63000.0|2020-09-14|
|  8| Hank|Engineering| 98000.0|2019-06-01|
+---+-----+-----------+--------+----------+

Row count: 8
Columns:   ['id', 'name', 'department', 'salary', 'hire_date']

In [4]:
# Descriptive statistics
employees.describe("salary").show()

+-------+-----------------+
|summary|           salary|
+-------+-----------------+
|  count|                8|
|   mean|          83875.0|
| stddev|20180.87850275248|
|    min|          60000.0|
|    max|         110000.0|
+-------+-----------------+

---
## 2. Selecting & Filtering

In [5]:
from pyspark.sql.functions import col, lit, expr, when

# Select specific columns (three equivalent ways)
employees.select("name", "department", "salary").show()

# Add a derived column
employees.select(
    col("name"),
    col("salary"),
    (col("salary") * 1.1).alias("salary_with_raise"),
    when(col("salary") >= 90000, "senior").otherwise("junior").alias("level")
).show()

+-----+-----------+--------+
| name| department|  salary|
+-----+-----------+--------+
|Alice|Engineering| 95000.0|
|  Bob|  Marketing| 72000.0|
|Carol|Engineering|110000.0|
| Dave|  Marketing| 68000.0|
|  Eve|Engineering|105000.0|
|Frank|         HR| 60000.0|
|Grace|         HR| 63000.0|
| Hank|Engineering| 98000.0|
+-----+-----------+--------+

+-----+--------+------------------+------+
| name|  salary| salary_with_raise| level|
+-----+--------+------------------+------+
|Alice| 95000.0|104500.00000000001|senior|
|  Bob| 72000.0|           79200.0|junior|
|Carol|110000.0|121000.00000000001|senior|
| Dave| 68000.0|           74800.0|junior|
|  Eve|105000.0|115500.00000000001|senior|
|Frank| 60000.0|           66000.0|junior|
|Grace| 63000.0|           69300.0|junior|
| Hank| 98000.0|107800.00000000001|senior|
+-----+--------+------------------+------+

In [6]:
# Filter / where (interchangeable)
print("Engineering employees earning > 95k:")
employees.filter(
    (col("department") == "Engineering") & (col("salary") > 95000)
).show()

# isin
print("Marketing or HR employees:")
employees.where(col("department").isin("Marketing", "HR")).show()

# String pattern match
print("Names containing 'a' (case-insensitive):")
employees.filter(col("name").rlike("(?i)a")).show()

Engineering employees earning > 95k:
+---+-----+-----------+--------+----------+
| id| name| department|  salary| hire_date|
+---+-----+-----------+--------+----------+
|  3|Carol|Engineering|110000.0|2017-11-20|
|  5|  Eve|Engineering|105000.0|2018-05-05|
|  8| Hank|Engineering| 98000.0|2019-06-01|
+---+-----+-----------+--------+----------+

Marketing or HR employees:
+---+-----+----------+-------+----------+
| id| name|department| salary| hire_date|
+---+-----+----------+-------+----------+
|  2|  Bob| Marketing|72000.0|2020-07-01|
|  4| Dave| Marketing|68000.0|2021-01-10|
|  6|Frank|        HR|60000.0|2022-02-28|
|  7|Grace|        HR|63000.0|2020-09-14|
+---+-----+----------+-------+----------+

Names containing 'a' (case-insensitive):
+---+-----+-----------+--------+----------+
| id| name| department|  salary| hire_date|
+---+-----+-----------+--------+----------+
|  1|Alice|Engineering| 95000.0|2019-03-15|
|  3|Carol|Engineering|110000.0|2017-11-20|
|  4| Dave|  Marketing| 68000.0|2021-01-10|
|  6|Frank|         HR| 60000.0|2022-02-28|
|  7|Grace|         HR| 63000.0|2020-09-14|
|  8| Hank|Engineering| 98000.0|2019-06-01|
+---+-----+-----------+--------+----------+

---
## 3. Aggregations & GroupBy

In [7]:
from pyspark.sql.functions import count, sum, avg, min, max, stddev, round as spark_round

dept_stats = (
    employees
    .groupBy("department")
    .agg(
        count("*").alias("headcount"),
        spark_round(avg("salary"), 0).alias("avg_salary"),
        min("salary").alias("min_salary"),
        max("salary").alias("max_salary"),
        spark_round(stddev("salary"), 0).alias("stddev_salary"),
    )
    .orderBy("department")
)

dept_stats.show()

+-----------+---------+----------+----------+----------+-------------+
| department|headcount|avg_salary|min_salary|max_salary|stddev_salary|
+-----------+---------+----------+----------+----------+-------------+
|Engineering|        4|  102000.0|   95000.0|  110000.0|       6782.0|
|         HR|        2|   61500.0|   60000.0|   63000.0|       2121.0|
|  Marketing|        2|   70000.0|   68000.0|   72000.0|       2828.0|
+-----------+---------+----------+----------+----------+-------------+

In [8]:
# Pivot: department salaries as columns (requires small cardinality)
from pyspark.sql.functions import avg as avg_fn

employees.groupBy().pivot("department").agg(spark_round(avg_fn("salary"), 0)).show()

+-----------+-------+---------+
|Engineering|     HR|Marketing|
+-----------+-------+---------+
|   102000.0|61500.0|  70000.0|
+-----------+-------+---------+

---
## 4. Joins

In [9]:
# Inner join â€“ enrich employees with department metadata
enriched = employees.join(departments, employees.department == departments.dept_id, how="inner")
enriched.select("name", "department", "salary", "budget", "location").show()

# Left join (employees without a matching department row still appear)
employees_left = employees.join(departments, employees.department == departments.dept_id, how="left")
employees_left.select("name", "department", "location").show()

+-----+-----------+--------+------+-------------+
| name| department|  salary|budget|     location|
+-----+-----------+--------+------+-------------+
| Hank|Engineering| 98000.0|500000|San Francisco|
|  Eve|Engineering|105000.0|500000|San Francisco|
|Carol|Engineering|110000.0|500000|San Francisco|
|Alice|Engineering| 95000.0|500000|San Francisco|
| Dave|  Marketing| 68000.0|200000|     New York|
|  Bob|  Marketing| 72000.0|200000|     New York|
|Grace|         HR| 63000.0|150000|      Chicago|
|Frank|         HR| 60000.0|150000|      Chicago|
+-----+-----------+--------+------+-------------+

+-----+-----------+-------------+
| name| department|     location|
+-----+-----------+-------------+
|Alice|Engineering|San Francisco|
|  Bob|  Marketing|     New York|
|Carol|Engineering|San Francisco|
| Dave|  Marketing|     New York|
|  Eve|Engineering|San Francisco|
|Frank|         HR|      Chicago|
|Grace|         HR|      Chicago|
| Hank|Engineering|San Francisco|
+-----+-----------+-------------+

In [10]:
# Self-join: pair employees in the same department
emp_a = employees.alias("a")
emp_b = employees.alias("b")

(
    emp_a.join(emp_b,
               (col("a.department") == col("b.department")) & (col("a.id") < col("b.id")),
               how="inner")
    .select(
        col("a.name").alias("employee_1"),
        col("b.name").alias("employee_2"),
        col("a.department")
    )
    .orderBy("department", "employee_1")
    .show()
)

+----------+----------+-----------+
|employee_1|employee_2| department|
+----------+----------+-----------+
|     Alice|      Hank|Engineering|
|     Alice|       Eve|Engineering|
|     Alice|     Carol|Engineering|
|     Carol|      Hank|Engineering|
|     Carol|       Eve|Engineering|
|       Eve|      Hank|Engineering|
|     Frank|     Grace|         HR|
|       Bob|      Dave|  Marketing|
+----------+----------+-----------+

---
## 5. Window Functions

Window functions compute a value for each row based on a group of related rows (the *window*).

In [11]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, dense_rank, row_number, lag, lead, sum as sum_fn, avg as avg_fn2

# Partition by department, order by salary descending
dept_window = Window.partitionBy("department").orderBy(col("salary").desc())

employees.select(
    "name", "department", "salary",
    rank().over(dept_window).alias("rank"),
    dense_rank().over(dept_window).alias("dense_rank"),
    row_number().over(dept_window).alias("row_num"),
).orderBy("department", col("salary").desc()).show()

+-----+-----------+--------+----+----------+-------+
| name| department|  salary|rank|dense_rank|row_num|
+-----+-----------+--------+----+----------+-------+
|Carol|Engineering|110000.0|   1|         1|      1|
|  Eve|Engineering|105000.0|   2|         2|      2|
| Hank|Engineering| 98000.0|   3|         3|      3|
|Alice|Engineering| 95000.0|   4|         4|      4|
|Grace|         HR| 63000.0|   1|         1|      1|
|Frank|         HR| 60000.0|   2|         2|      2|
|  Bob|  Marketing| 72000.0|   1|         1|      1|
| Dave|  Marketing| 68000.0|   2|         2|      2|
+-----+-----------+--------+----+----------+-------+

In [12]:
# Lag / lead: compare salary to next/previous colleague in same dept
employees.select(
    "name", "department", "salary",
    lag("salary", 1).over(dept_window).alias("prev_salary"),
    lead("salary", 1).over(dept_window).alias("next_salary"),
).orderBy("department", col("salary").desc()).show()

+-----+-----------+--------+-----------+-----------+
| name| department|  salary|prev_salary|next_salary|
+-----+-----------+--------+-----------+-----------+
|Carol|Engineering|110000.0|       NULL|   105000.0|
|  Eve|Engineering|105000.0|   110000.0|    98000.0|
| Hank|Engineering| 98000.0|   105000.0|    95000.0|
|Alice|Engineering| 95000.0|    98000.0|       NULL|
|Grace|         HR| 63000.0|       NULL|    60000.0|
|Frank|         HR| 60000.0|    63000.0|       NULL|
|  Bob|  Marketing| 72000.0|       NULL|    68000.0|
| Dave|  Marketing| 68000.0|    72000.0|       NULL|
+-----+-----------+--------+-----------+-----------+

In [13]:
# Running total of salary within department (order matters)
running_window = Window.partitionBy("department").orderBy("hire_date").rowsBetween(Window.unboundedPreceding, Window.currentRow)

employees.select(
    "name", "department", "hire_date", "salary",
    sum_fn("salary").over(running_window).alias("cumulative_salary")
).orderBy("department", "hire_date").show()

+-----+-----------+----------+--------+-----------------+
| name| department| hire_date|  salary|cumulative_salary|
+-----+-----------+----------+--------+-----------------+
|Carol|Engineering|2017-11-20|110000.0|         110000.0|
|  Eve|Engineering|2018-05-05|105000.0|         215000.0|
|Alice|Engineering|2019-03-15| 95000.0|         310000.0|
| Hank|Engineering|2019-06-01| 98000.0|         408000.0|
|Grace|         HR|2020-09-14| 63000.0|          63000.0|
|Frank|         HR|2022-02-28| 60000.0|         123000.0|
|  Bob|  Marketing|2020-07-01| 72000.0|          72000.0|
| Dave|  Marketing|2021-01-10| 68000.0|         140000.0|
+-----+-----------+----------+--------+-----------------+

---
## 6. Spark SQL

Register DataFrames as temp views and query with SQL.

In [14]:
employees.createOrReplaceTempView("employees")
departments.createOrReplaceTempView("departments")

# Top earner per department
spark.sql("""
    SELECT department, name, salary
    FROM (
        SELECT department, name, salary,
               RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS rnk
        FROM employees
    )
    WHERE rnk = 1
    ORDER BY department
""").show()

# Department budget vs total payroll
spark.sql("""
    SELECT d.dept_id, d.budget, d.location,
           COUNT(e.id)              AS headcount,
           ROUND(SUM(e.salary), 0)  AS total_payroll,
           ROUND(d.budget - SUM(e.salary), 0) AS remaining_budget
    FROM departments d
    LEFT JOIN employees e ON e.department = d.dept_id
    GROUP BY d.dept_id, d.budget, d.location
    ORDER BY d.dept_id
""").show()

+-----------+-----+--------+
| department| name|  salary|
+-----------+-----+--------+
|Engineering|Carol|110000.0|
|         HR|Grace| 63000.0|
|  Marketing|  Bob| 72000.0|
+-----------+-----+--------+

+-----------+------+-------------+---------+-------------+----------------+
|    dept_id|budget|     location|headcount|total_payroll|remaining_budget|
+-----------+------+-------------+---------+-------------+----------------+
|Engineering|500000|San Francisco|        4|     408000.0|         92000.0|
|         HR|150000|      Chicago|        2|     123000.0|         27000.0|
|  Marketing|200000|     New York|        2|     140000.0|         60000.0|
+-----------+------+-------------+---------+-------------+----------------+

---
## 7. User-Defined Functions (UDFs)

In [15]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

# --- Row-level Python UDF (slower, but flexible) ---
def salary_band(salary: float) -> str:
    if salary is None:
        return "unknown"
    if salary < 70000:
        return "band-A"
    if salary < 90000:
        return "band-B"
    return "band-C"

salary_band_udf = udf(salary_band, StringType())

employees.select(
    "name", "salary",
    salary_band_udf(col("salary")).alias("band")
).show()

+-----+--------+------+
| name|  salary|  band|
+-----+--------+------+
|Alice| 95000.0|band-C|
|  Bob| 72000.0|band-B|
|Carol|110000.0|band-C|
| Dave| 68000.0|band-A|
|  Eve|105000.0|band-C|
|Frank| 60000.0|band-A|
|Grace| 63000.0|band-A|
| Hank| 98000.0|band-C|
+-----+--------+------+

In [16]:
# --- Vectorised Pandas UDF (much faster for large data) ---
from pyspark.sql.functions import pandas_udf
import pandas as pd

@pandas_udf(DoubleType())
def normalise_salary(series: pd.Series) -> pd.Series:
    """Normalise salaries to 0-1 range within each batch."""
    return (series - series.min()) / (series.max() - series.min())

employees.select(
    "name", "salary",
    spark_round(normalise_salary(col("salary")), 4).alias("norm_salary")
).orderBy("salary").show()

ModuleNotFoundError: No module named 'pandas'

---
## 8. Null Handling & Data Quality

In [ ]:
from pyspark.sql.functions import coalesce, isnull, isnan, count as count_fn

# Introduce some nulls for demonstration
dirty_data = [
    (1, "Alice",  95000.0),
    (2, "Bob",    None),
    (3, None,     72000.0),
    (4, "Dave",   float("nan")),
    (5, "Eve",    105000.0),
]
dirty_df = spark.createDataFrame(dirty_data, ["id", "name", "salary"])

print("=== Raw data ===")
dirty_df.show()

# Count nulls per column
print("=== Null counts ===")
dirty_df.select([
    count_fn(when(isnull(c) | isnan(c), c)).alias(c)
    for c in dirty_df.columns
]).show()

# Fill / drop
print("=== After fillna ===")
dirty_df.fillna({"name": "Unknown", "salary": 0.0}).show()

print("=== After dropna ===")
dirty_df.dropna().show()

# coalesce: first non-null wins
print("=== coalesce salary with default ===")
dirty_df.select(
    "name",
    coalesce(col("salary"), lit(50000.0)).alias("salary")
).show()

---
## 9. String & Date Operations

In [ ]:
from pyspark.sql.functions import (
    upper, lower, trim, length, concat, concat_ws,
    regexp_replace, split, substring, initcap
)

employees.select(
    upper(col("name")).alias("name_upper"),
    length(col("name")).alias("name_len"),
    concat_ws(" @ ", col("name"), col("department")).alias("name_dept"),
    regexp_replace(col("department"), "Engineering", "Eng").alias("dept_short"),
    substring(col("name"), 1, 3).alias("initials"),
).show()

In [ ]:
from pyspark.sql.functions import (
    year, month, dayofweek, datediff, months_between,
    current_date, date_add, date_format, to_date
)

employees.select(
    "name",
    "hire_date",
    year("hire_date").alias("hire_year"),
    month("hire_date").alias("hire_month"),
    dayofweek("hire_date").alias("day_of_week"),          # 1=Sunday
    datediff(current_date(), col("hire_date")).alias("days_employed"),
    spark_round(months_between(current_date(), col("hire_date")), 1).alias("months_employed"),
    date_format(col("hire_date"), "MMM dd, yyyy").alias("formatted"),
).show(truncate=False)

---
## 10. Reading & Writing Data

Write to common formats and read them back.

In [ ]:
import tempfile, os

tmp = tempfile.mkdtemp()

# --- Parquet (columnar, compressed, schema-preserving) ---
parquet_path = os.path.join(tmp, "employees.parquet")
employees.write.mode("overwrite").parquet(parquet_path)

df_from_parquet = spark.read.parquet(parquet_path)
print("Read back from Parquet:")
df_from_parquet.printSchema()
df_from_parquet.show(3)

In [ ]:
# --- CSV ---
csv_path = os.path.join(tmp, "employees.csv")
employees.write.mode("overwrite").option("header", True).csv(csv_path)

df_from_csv = spark.read.option("header", True).option("inferSchema", True).csv(csv_path)
print("Read back from CSV:")
df_from_csv.show(3)

In [ ]:
# --- Partitioned write (Hive-style) ---
partitioned_path = os.path.join(tmp, "employees_by_dept")
(
    employees
    .write
    .mode("overwrite")
    .partitionBy("department")
    .parquet(partitioned_path)
)

# Spark automatically prunes partitions when filtering on the partition column
df_eng = spark.read.parquet(partitioned_path).filter(col("department") == "Engineering")
print("Engineering employees (partition-pruned read):")
df_eng.show()

print(f"\nTemp files written to: {tmp}")

---
## Teardown

In [ ]:
# Stop the Spark session when done to release resources
spark.stop()
print("Spark session stopped.")